@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background: #e0e2e1;
    font-family: 'Open Sans', sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

#carousel{
  display: flex;
  justify-content: center;
  background-image: url('/frontend/img/fondo.png');
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

#cards{
  width: 18rem; 
  margin-top: 20px;
}

#categorias{
  background-color: #212529;
  color: white;
}

.dropdown-item{
  color:#ffffff;
}

/* SHOPPING CART */
#productsCart{
  background: rgb(139,232,254);
  background: linear-gradient(135deg, rgba(139,232,254,1) 10%, rgba(213,192,255,1) 90%);
}

.shopping-cart-items {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}

#btnComprar {
  background-color: rgb(27, 160, 87);
}   