@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background: #e0e2e1;
    font-family: 'Open Sans', sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

#carousel{
  display: flex;
  justify-content: center;
  background-image: url('/frontend/img/fondo.png');
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

#cards{
  width: 18rem; 
  margin-top: 20px;
}

#categorias{
  background-color: #212529;
  color: white;
}

.dropdown-item{
  color:#ffffff;
}
